USE [GestionParqueaderosAmbato]
GO
/****** Object:  Table [dbo].[Espacios]    Script Date: 13/8/2026 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Espacios](
	[IdEspacio] [int] IDENTITY(1,1) NOT NULL,
	[IdParqueadero] [int] NOT NULL,
	[NumeroEspacio] [varchar](10) NOT NULL,
	[Estado] [varchar](15) NOT NULL,
	[Observacion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEspacio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialReservas]    Script Date: 13/8/2026 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialReservas](
	[IdHistorial] [int] IDENTITY(1,1) NOT NULL,
	[IdReserva] [int] NOT NULL,
	[EstadoAnterior] [varchar](15) NULL,
	[EstadoNuevo] [varchar](15) NOT NULL,
	[FechaCambio] [datetime2](7) NOT NULL,
	[Observacion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parqueaderos]    Script Date: 13/8/2026 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parqueaderos](
	[IdParqueadero] [int] IDENTITY(1,1) NOT NULL,
	[IdAdministrador] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Direccion] [varchar](200) NOT NULL,
	[Latitud] [decimal](9, 6) NOT NULL,
	[Longitud] [decimal](9, 6) NOT NULL,
	[Telefono] [varchar](15) NULL,
	[HorarioAtencion] [varchar](100) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdParqueadero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 13/8/2026 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[IdReserva] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdEspacio] [int] NOT NULL,
	[FechaReserva] [date] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
	[Estado] [varchar](15) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 13/8/2026 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Descripcion] [varchar](150) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 13/8/2026 15:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NOT NULL,
	[Cedula] [char](10) NOT NULL,
	[Correo] [varchar](150) NOT NULL,
	[Telefono] [varchar](15) NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HistorialReservas] ADD  DEFAULT (getdate()) FOR [FechaCambio]
GO
ALTER TABLE [dbo].[Parqueaderos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Espacios]  WITH CHECK ADD  CONSTRAINT [FK_Espacios_Parqueaderos] FOREIGN KEY([IdParqueadero])
REFERENCES [dbo].[Parqueaderos] ([IdParqueadero])
GO
ALTER TABLE [dbo].[Espacios] CHECK CONSTRAINT [FK_Espacios_Parqueaderos]
GO
ALTER TABLE [dbo].[HistorialReservas]  WITH CHECK ADD  CONSTRAINT [FK_HistorialReservas_Reservas] FOREIGN KEY([IdReserva])
REFERENCES [dbo].[Reservas] ([IdReserva])
GO
ALTER TABLE [dbo].[HistorialReservas] CHECK CONSTRAINT [FK_HistorialReservas_Reservas]
GO
ALTER TABLE [dbo].[Parqueaderos]  WITH CHECK ADD  CONSTRAINT [FK_Parqueaderos_Usuarios] FOREIGN KEY([IdAdministrador])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Parqueaderos] CHECK CONSTRAINT [FK_Parqueaderos_Usuarios]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Espacios] FOREIGN KEY([IdEspacio])
REFERENCES [dbo].[Espacios] ([IdEspacio])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Espacios]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Usuarios]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Espacios]  WITH CHECK ADD  CONSTRAINT [CK_Espacios_Estado] CHECK  (([Estado]='Reservado' OR [Estado]='Ocupado' OR [Estado]='Disponible'))
GO
ALTER TABLE [dbo].[Espacios] CHECK CONSTRAINT [CK_Espacios_Estado]
GO
ALTER TABLE [dbo].[HistorialReservas]  WITH CHECK ADD  CONSTRAINT [CK_HistorialReservas_EstadoAnterior] CHECK  (([EstadoAnterior] IS NULL OR ([EstadoAnterior]='Finalizada' OR [EstadoAnterior]='Cancelada' OR [EstadoAnterior]='Confirmada' OR [EstadoAnterior]='Pendiente')))
GO
ALTER TABLE [dbo].[HistorialReservas] CHECK CONSTRAINT [CK_HistorialReservas_EstadoAnterior]
GO
ALTER TABLE [dbo].[HistorialReservas]  WITH CHECK ADD  CONSTRAINT [CK_HistorialReservas_EstadoNuevo] CHECK  (([EstadoNuevo]='Finalizada' OR [EstadoNuevo]='Cancelada' OR [EstadoNuevo]='Confirmada' OR [EstadoNuevo]='Pendiente'))
GO
ALTER TABLE [dbo].[HistorialReservas] CHECK CONSTRAINT [CK_HistorialReservas_EstadoNuevo]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [CK_Reservas_Estado] CHECK  (([Estado]='Finalizada' OR [Estado]='Cancelada' OR [Estado]='Confirmada' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [CK_Reservas_Estado]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [CK_Reservas_Horario] CHECK  (([HoraFin]>[HoraInicio]))
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [CK_Reservas_Horario]
GO
